<div class="addform">
    <h3>Dodaj wpis:</h3>
    <form method="POST" action='/~p19/intro2.wsgi/addbottle'>
        <div>
            <label>Treść: </label>
        </div>
        <div>
            <textarea type="text" name="content" required></textarea>
        </div>
        <div>
            <input type="submit" value="Dodaj" />
        </div>
    </form>
</div>
%rebase maincontent_blocks title=title, logged_in=logged_in